:root {
    --background-color: #FFF9F4;
    --main-color: #0085FF;
    --text-color: #434343;
}

@font-face {
    font-family: Josefin Sans;
    src: url("../../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf");
}

main {
    text-align: center;
    position: relative;
}

nav {
    border: 2px solid var(--main-color);
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

a {
    color: var(--main-color);
    text-decoration: none;
    font-size: 36px;
}

a:hover {
    color: var(--text-color);
}

.space {
    /*border: 2px solid var(--main-color);*/
    width: 100vw;
    height: 10px;
}

.placeholder {
    font-size: 96px;
}