:root {
    --background-color: #FFF9F4;
    --main-color: #0085FF;
    --text-color: #434343;
}

.mid {
    background-color: var(--background-color);
    display: inline-block;
    width: 63%;
    margin: auto;
}

.navbar {

    display: flex;
}

.navbar li {

    list-style: none;
    display: inline-block;

    margin: auto;
}

.navbar li a {
    text-decoration: none;
    color: rgb(29, 25, 231);
    font-size: 18px;
    padding: 8px 20px;
}

.navbar li a:hover {
    color: black;
    border: black;
    border-radius: 2px;
    font-size: 20px;
}

.navbar li a:active {
    background-color: deepskyblue;
    border-radius: 5px;
}

.right {
    background-color: aqua;
    display: inline-block;
    width: 8%;

    font-size: 18px;
    padding: 18px 5px;
    color: #1d19e7;
}

.right {
    background-color: #FFF9F4;
    display: inline-grid;
    width: 1%;

    font-size: 18px;
    padding: 18px 160px;
    color: #1d19e7;
}

.right a {
    text-decoration: none;
}

.right:hover {
    font-weight: bolder;
}

.left {
    background-color: #FFF9F4;
    display: inline-block;
    width: 10%;
    font-size: 18px;
    padding: 18px 17px;
    color: #0085FF;


}

.left a {
    text-decoration: none;
}

.left:hover {
    font-weight: bolder;
}

@font-face {
    font-family: Josefin Sans;
    src: url("../../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf");
}