:root {
  --background-color: #FFF9F4;
  --main-color: #0085FF;
  --text-color: #434343;
}

@font-face {
  font-family: Josefin Sans;
  src: url("./assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
  font-family: Yellowtail;
  src: url("./assets/fonts/Yellowtail/Yellowtail-Regular.ttf");
}

* {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Josefin Sans', sans-serif;
}

.welcome {
  text-align: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.content-container {
  flex: 1;
}