:root {
    --background-color: #FFF9F4;
    --main-color: #0085FF;
    --text-color: #434343;
}

body {
    margin: 0;
    padding: 0;
}
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100%;
    background-color: var(--main-color);
}

.footer-text {
    background-color: var(--main-color);
    color: var(--background-color);
}

@font-face {
    font-family: Josefin Sans;
    src: url("../../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf");
}