:root {
    --background-color: #FFF9F4;
    --main-color: #0085FF;
    --text-color: #434343;
}

@font-face {
    font-family: Josefin Sans;
    src: url("../../assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf");
}

@font-face {
    font-family: Yellowtail;
    src: url("../../assets/fonts/Yellowtail/Yellowtail-Regular.ttf");
}

.about-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    /*border: 2px solid black;*/
}

.about-question-container {
    margin-top: 10vh;
}

.about-question {
    font-size: 30px;
}

.about-blurb-container {

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    /*border: 2px solid black;*/


    width: 50vw;
}

.about-blurb {
    font-size: 25px;
}